[color]
	ui = auto
[user]
	name = Ben Ransford

[alias]
	lg = log --pretty=format:'%C(yellow)%h %C(magenta)%an%C(cyan)%d%C(white) %s %Creset- %ar'
	bra = branch --all -vv
	brar = branch --all -vv --sort=-committerdate
	co = checkout
	st = status
	stt = status --untracked-files=no
	di = diff
	wdiff = diff --color-words
	wshow = show --color-words
	taggies = tag --list --format='%(if)%(contents:signature)%(then)🔏 %(else)  %(end) %(color:white)%(refname:short) %(color:blue)%(align:width=35)%(taggerdate)%(end)%(color:reset) %(contents:subject)'
	pul = pull
	poosh = push
	graph = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold blue)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	vssvn = log --oneline git-svn..
	head = rev-parse --short HEAD
	serve = instaweb
	targz = archive --format=tar.gz -o HEAD.tar.gz HEAD
	incoming = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(magenta)%an%C(cyan)%d%C(white) %s %Creset- %ar' ..$(git rev-parse --abbrev-ref --symbolic-full-name @{u}))
	outgoing = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(magenta)%an%C(cyan)%d%C(white) %s %Creset- %ar' $(git rev-parse --abbrev-ref --symbolic-full-name @{u})..)
	brr = "for-each-ref --sort=-committerdate refs/heads/ --format='%(refname:short) -- %(color:white)%(authordate:relative)%(color:reset)' --count=35"
	today = log --since=12am --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h - %an%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset)%C(bold yellow)%d%C(reset)' --all

[core]
	autocrlf = input
	excludesfile = ~/.rc/.gitignore.global
[instaweb]
	httpd = webrick
	port = 8180
	local = true
[web]
	browser = mychrome
[browser "mychrome"]
	cmd = open -a 'Google Chrome'
[branch]
	autosetuprebase = always
[push]
	default = current
	recurseSubmodules = check
[merge]
	tool = kdiff3
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
