[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/ag"]
	path = .vim/bundle/ag
	url = git://github.com/rking/ag.vim.git
[submodule ".vim/bundle/vim-livedown"]
	path = .vim/bundle/vim-livedown
	url = https://github.com/shime/vim-livedown.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
	fetchRecurseSubmodules = true
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
