[color]
	ui = auto
[user]
	name = Ben Ransford
	email = ransford@cs.umass.edu

[alias]
	co = checkout
	st = status
	di = diff
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	serve = instaweb
[core]
	autocrlf = input
	excludesfile = ~/.rc/.gitignore.global
[instaweb]
	httpd=webrick
	port=8123
