[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule ".vim/bundle/ag"]
	path = .vim/bundle/ag
	url = git://github.com/rking/ag.vim.git
