[color]
	ui = auto
[user]
	name = Ben Ransford
	email = ben@ransford.org

[alias]
	co = checkout
	st = status
	stt = status --untracked-files=no
	di = diff
	pul = pull
	poosh = push
	graph = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	vssvn = log --oneline git-svn..
	head = rev-parse --short HEAD
	serve = instaweb
	targz = archive --format=tar.gz -o HEAD.tar.gz HEAD
	incoming = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(red)%an %C(cyan)%d%Creset %s %C(white)- %ar%Creset' ..$(git rev-parse --abbrev-ref --symbolic-full-name @{u}))
	outgoing = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %ar%Creset' $(git rev-parse --abbrev-ref --symbolic-full-name @{u})..)
	brr = "for-each-ref --sort=-committerdate refs/heads/ --format='%(refname:short) -- %(color:white)%(authordate:relative)%(color:reset)' --count=35"

[core]
	autocrlf = input
	excludesfile = ~/.rc/.gitignore.global
[instaweb]
	httpd = webrick
	port = 8180
	local = true
[web]
	browser = mychrome
[browser "mychrome"]
	cmd = open -a 'Google Chrome'
[branch]
	autosetuprebase = always
[push]
	default = current
[merge]
	tool = kdiff3
